---
import type { ServiceCategory, ServiceSection } from "../interfaces/service";
import fetchApi from "../lib/strapi";
import { parseSimpleMarkdown } from "../utils/parseRichtext";

const section = await fetchApi<ServiceSection>({
  endpoint: "service-section",
  wrappedByKey: "data"
});

const serviceCategories = await fetchApi<ServiceCategory[]>({
  endpoint: "services?populate[services][populate]=image",
  wrappedByKey: "data"
});

function getGridColsClass(length: number) {
  if (length === 2) return "grid-cols-1 sm:grid-cols-2 md:grid-cols-2";
  if (length >= 3) return "grid-cols-1 sm:grid-cols-2 md:grid-cols-3";
  return "grid-cols-1";
}
---

<section id="services" class="py-14 px-4 w-full">
  <h2 class="text-center font-bold text-3xl md:text-4xl mb-12">{section.title}</h2>

  {serviceCategories.map((category) => {
    const gridColsClass = getGridColsClass(category.services.length);

    return (
      <div class="mb-16">
        <h3 class="text-2xl font-semibold mb-6">{category.category_title}</h3>

        <div class={`grid gap-10 ${gridColsClass}`}>
          {category.services.map((service) => (
            <div class="flex flex-col">
              <div class={`relative overflow-hidden rounded-xl ${service.bgColor ?? 'bg-gray-200'} aspect-square md:aspect-[4/3]`}>
                {service.hasComplexImage ? (
                  <div class="relative w-[239px] h-[158px] top-3.5">
                    <img
                      class="absolute w-[174px] h-[142px] top-0 left-[65px] object-cover"
                      src="/-e020cf05-ac69-4104-bc70-3a5d5d98f176-1.png"
                      alt="complex"
                    />
                    <img
                      class="absolute w-[125px] h-[54px] top-[104px] left-0"
                      src="/vector-1.svg"
                      alt="vector"
                    />
                  </div>
                ) : (
                  service.image && (
                    <div class="group w-full h-full">
                      <img 
                        class="absolute object-cover transition-transform duration-300 group-hover:scale-105 w-full h-full" 
                        src={import.meta.env.STRAPI_URL + service.image.url} 
                        alt={service.image.name ?? "Service"} 
                        loading="lazy"
                      />
                    </div>
                  )
                )}
              </div>

              <h4 class="mt-4 font-semibold text-lg">{service.title}</h4>
              <p set:html={parseSimpleMarkdown(service.description)} class="text-sm text-gray-600 leading-relaxed mt-1"></p>
            </div>
          ))}
        </div>
      </div>
    );
  })}
</section>